<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">

    <!-- Tailwind -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="dashboard.component.css">

    <!-- Navigation -->
</head>
<body class="bg-gray-100 font-family-karla flex flex-col sm:flex-row">

    <aside class="relative bg-sidebar sm:h-screen w-full sm:w-64 shadow-xl">
        <div class="p-6">
            <a href="dashboard" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Dashboard</a>

            <button class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center"
            (click)="TambahMahasiswaDialog()">
                Tambah Mahasiswa
            </button>
        </div>
        <nav class="text-white text-base font-semibold pt-3">
            <a href="dashboard" class="flex items-center active-nav-link text-white py-4 pl-6 nav-item">
                Dashboard
            </a>

            <a href="mahasiswa" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                Mahasiswa
            </a>
        </nav>
    </aside>

    <!-- Information -->
    <div class="w-full scroll-">
        <div class="bg-white overflow-x-auto">
            <table class="text-left w-full border-collapse">
                <thead>
                    <tr>
                        <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">NPM</th>
                        <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Nama</th>
                        <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Tanggal</th>
                        <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Status</th>
                    </tr>
                </thead>

                <tbody>
                    <ng-container *ngFor="let history of historyList">
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-4 px-6 border-b border-grey-light">{{ history.npm }}</td>
                            <td class="py-4 px-6 border-b border-grey-light">{{ history.nama }}</td>
                            <td class="py-4 px-6 border-b border-grey-light">{{ history.tanggal }}</td>
                            <td class="py-4 px-6 border-b font-semibold leading-tight" 
                            [ngClass]="{'border-b text-green-700': history.status === 'Update', 
                            'text-red-700': history.status === 'Delete', 
                            'text-blue-700': history.status === 'Insert'}">{{ history.status }}</td>
                        </tr>
                    </ng-container>
                </tbody>

            </table>
        </div>
    </div>

</body>
</html>
